# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
testem.log
/reports
/coverage

# Angular
.angular/
.sass-cache/
/connect.lock
/.sourcemaps

# IDEs and Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
.history/*

# Misc
/.sass-cache
/connect.lock
/typings
/.java-version

# System Files
.DS_Store
Thumbs.db

# Capacitor
capacitor.config.json.timestamp
capacitor.config.ts.timestamp
capacitor.plugins.json

# Android
/android/.gradle
/android/local.properties
/android/*/build
/android/.idea
/android/app/build
/android/build
/android/captures
/android/.externalNativeBuild
/android/.cxx
*.jks
key.properties
keystore.properties

# Logs and Temporary Build Files
build_*.txt
*.log

# Firebase
.firebaserc
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
# Cloud Functions
functions/lib
functions/node_modules
functions/firebase-debug.log


# Environment Variables
.env
src/environments/environment.ts
functions/env.ts
